/*facile https://mocki.io/v1/49998f59-6350-47cc-b01c-6b1af31186f8
moyen https://mocki.io/v1/49998f59-6350-47cc-b01c-6b1af31186f8
difficile https://mocki.io/v1/49998f59-6350-47cc-b01c-6b1af31186f8
*/

h3 {
font-size: 45px;
text-align:left;
color : #61D929;
text-shadow:
    -2px -2px 0 #1e5a02af,
    2px 2px 0 #1e5a02af;
}