* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dimensionGallery {
  background-color: #61D929;
  align-items: center;
  width: 80%; /* Largeur contrôlée */
  max-width: 600px; /* Largeur maximale */
  margin: 20px auto; /* Centre le conteneur */
}


.dimensionGallery img {
  margin: 20px;
  max-width: 100%;  /* S'ajuste à la taille du conteneur */
  height: auto;  /* Garder les proportions originales */
  display: block;  /* Eviter l'espacement en bas de l'image */
  border-radius: 20px;
}

#gallery.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

#gallery.column {
  display: flex;
  flex-direction: column;
  align-items: center; /* ➤ Centre horizontalement */
  gap: 20px;
}

.dimensionGallery img:hover {
  border: 10px solid #CAD4C4;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
 
}

.carousel-track {
  display: flex;
  transition: transform 0.5 ease;
}

.carousel-slide {
  flex: 0 0 33.333%;
  box-sizing: border-box;
  padding: 5px;
}

.carousel-slide img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  display: block;
  border-color: #262c3a46;
}

.carousel-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-button.prev { left: 10px; }
.carousel-button.next { right: 10px; }

.visuallyhidden {
  font-size: 30px;
  text-shadow:
  -2px -2px 0 #262c3a46,
  2px 2px 0 #262c3a46;
}
/* ---- MEDIA QUERIES POUR RENDRE LE DESIGN RESPONSIVE ---- */

@media screen and (max-width:900px) {

  .carousel-slide {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 5px;
  }

  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #gallery img {
    max-width: 90%;
    width: 100%;
    height: auto;
  }

  .mobile-menu ul {
    margin-top: 120px;
  }
}